{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "worker": true
  },
  "plugins": [
    "babel",
    "flowtype"
  ],
  "rules": {
    "no-console": ["off"],
    "no-param-reassign": ["error", { "props": false }],
    "lines-between-class-members": ["error", "always", {
      "exceptAfterSingleLine": true
    }],
    "no-underscore-dangle": ["error", {
      "allow": [
        "_free",
        "_simulate"
      ]
    }],
    "react/sort-comp": ["error", {
      "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "rendering"
        ],
      "groups": {
        "rendering": [
          "/^render.+$/",
          "render"
        ]
      }
    }]
  }
}